block config
    include ../configs/globals

<!DOCTYPE html>
html(lang="es")
    head 
        title #{titulo} - #{sitio}
        meta(name="description" content=(description))
        link(rel="icon", href="img/favicon.png")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(rel="stylesheet" href="css/styles.css")
        block styles
    body 
        main 
            block content
            block scripts